name: CNCJS Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2
    - name: Build the cncjs Docker image
      run: docker build ./cncjs --file Dockerfile --tag cncjs:$(date +%s)
